<nav class="navbar navbar-expand-sm   navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Gamepad Text Entry <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Single Keyboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Split Keyboard</a>
      </li>
    </ul>
    <div class="social-part">
        <i *ngIf="controllerConnected" class="fa fa-gamepad"></i>
        <i *ngIf="!controllerConnected" class="fa fa-gamepad"></i>
      </div>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer id="myFooter">
  <div class="container">
    <ul>
      <li><a routerLink="#">Project Report</a></li>
      <li><a routerLink="#">Experiment Video</a></li>
      <li><a routerLink="#">Credits</a></li>
      <li><a routerLink="#">Contact</a></li>
    </ul>
    <p class="footer-copyright">© 2018 Copyright, Designed by Hasib Rahman</p>
  </div>
  <div class="footer-social">
    <a href="https://github.com/hasibr/GamepadTextEntry" class="social-icons"><i class="fa fa-github"></i></a>
    <a href="#" class="social-icons"><i class="fa fa-youtube"></i></a>
    <a href="#" class="social-icons"><i class="fa fa-envelope"></i></a>
  </div>
</footer>
<!-- <app-experiment-config></app-experiment-config> -->
<!-- <app-keyboard [keyboardLayout]="" [navigationControls]=""></app-keyboard> -->
